# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [57]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [58]:
humid_city = pd.read_csv("../output_data/weather_df.csv", encoding="utf-8")
humid_city.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,jalingo,24,NG,1603298555,56,8.88,11.37,82.99,2.06
1,torbay,75,CA,1603298528,82,47.67,-52.73,57.00,11.41
2,luderitz,0,NaN,1603298556,33,-26.65,15.16,73.44,16.46
3,cape town,0,CL,1603298556,48,-36.41,-71.90,66.20,5.82
4,bathsheba,20,BB,1603298556,66,13.22,-59.52,89.60,12.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [59]:
humidity = humid_city["Humidity"].astype(float)
max_humidity = humidity.max()
locations = humid_city[["Lat", "Lng"]]

In [60]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=max_humidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [61]:
city_df = humid_city.loc[(humid_city["Max Temp"] > 70) & (humid_city["Max Temp"] < 80) & (humid_city["Cloudiness"] == 0), :]
city_df = city_df.dropna(how='any')
city_df.reset_index(inplace=True)
del city_df['index']
city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,mahanoro,0,MG,1603298564,71,-19.90,48.80,71.80,3.15
1,abha,0,SA,1603298577,14,18.22,42.51,71.60,8.05
2,graaff-reinet,0,ZA,1603298601,18,-32.25,24.53,77.00,3.00
3,funtua,0,NG,1603298603,34,11.52,7.31,79.86,5.70
4,nalut,0,LY,1603298604,32,30.33,10.85,77.47,8.48

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [62]:
hotels = []

for i in range(len(city_df)):
    lat = city_df.loc[i]['Lat']
    lng = city_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotels.append(jsn['results'][0]['name'])
    except:
        hotels.append("")

        
city_df["Hotel Name"] = hotels
city_df = city_df.dropna(how='any')
city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,mahanoro,0,MG,1603298564,71,-19.90,48.80,71.80,3.15,Mahanoro
1,abha,0,SA,1603298577,14,18.22,42.51,71.60,8.05,Abha
2,graaff-reinet,0,ZA,1603298601,18,-32.25,24.53,77.00,3.00,Graaff-Reinet
3,funtua,0,NG,1603298603,34,11.52,7.31,79.86,5.70,Funtua
4,nalut,0,LY,1603298604,32,30.33,10.85,77.47,8.48,

In [63]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [64]:
for index, row in city_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    #get the results and store it into results variable
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        city_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    #avoid ssl error
    time.sleep(1)

print("-------End of Search-------")

Retrieving Results for Index 0: mahanoro.
Closest hotel in mahanoro is Bungalow le Prestige.
------------
Retrieving Results for Index 1: abha.
Closest hotel in abha is Abha Palace Hotel.
------------
Retrieving Results for Index 2: graaff-reinet.
Closest hotel in graaff-reinet is Drostdy Hotel.
------------
Retrieving Results for Index 3: funtua.
Closest hotel in funtua is Jamil Hotel.
------------
Retrieving Results for Index 4: nalut.
Missing field/result... skipping.
------------
Retrieving Results for Index 5: banda aceh.
Closest hotel in banda aceh is Hotel Sarang Intercontinental.
------------
Retrieving Results for Index 6: dehloran.
Closest hotel in dehloran is هتل سعید.
------------
Retrieving Results for Index 7: nouadhibou.
Closest hotel in nouadhibou is Free Zone Hotel Nouadhibou.
------------
Retrieving Results for Index 8: jalu.
Closest hotel in jalu is Jalu Hotel.
------------
Retrieving Results for Index 9: kilindoni.
Closest hotel in kilindoni is Butiama Beach Hotel.
------------
Retrieving Results for Index 10: kalamare.
Missing field/result... skipping.
------------
Retrieving Results for Index 11: willowmore.
Closest hotel in willowmore is Royal Hotel.
------------
Retrieving Results for Index 12: santiago del estero.
Closest hotel in santiago del estero is Ismael Hotel.
------------
Retrieving Results for Index 13: faya.
Missing field/result... skipping.
------------
Retrieving Results for Index 14: angoche.
Closest hotel in angoche is Guest House HESADA.
------------
Retrieving Results for Index 15: bajo baudo.
Missing field/result... skipping.
------------
Retrieving Results for Index 16: giyani.
Closest hotel in giyani is Letaba Boutique and Spa.
------------
-------End of Search-------

In [65]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in city_df.iterrows()]
locations = city_df[["Lat", "Lng"]]

In [66]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

#show fig
plt.figure()